# Copie este arquivo e preencha com os dados do seu banco no db4free.net
# No Render, essas mesmas variáveis vão em Settings > Environment (não em um arquivo...eu acho)

DB_HOST=db4free.net
DB_USER=seu_usuario_db4free
DB_PASSWORD=sua_senha_db4free
DB_NAME=seu_usuario_db4free_nome_do_banco
DB_PORT=3306
